@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

/* iOSのSafariでinput[type="date"]がコンテナからはみ出るのを防ぐ */
input[type='date'] {
  max-width: 100%;
  min-width: 0;
}
